<div class="row">

  <form class="form-horizontal">
    <input type="text"
    class="form-control addMovie"
    ng-model="movie.title"
    uib-typeahead="address for address in getLocation($viewValue)"
    typeahead-loading="loadingLocations"
    typeahead-no-results="noResults"
    typeahead-min-length="3"
    typeahead-on-select="onSelect($item)"
    placeholder="Add the worst movie you've seen!"/>
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
  </form>

  <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
    <a ng-href="/#/movies/{{movie.$id}}"><img class="largeposter" ng-src="{{movie.poster}}" alt="{{movie.title}}"></a>
  </div>

</div>
