<div class="row">

  <div class="row">

    <!-- "Add a Movie" form -->
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form class="form-horizontal">
        <input type="text"
        class="form-control addMovie"
        ng-model="movie.title"
        uib-typeahead="address for address in getLocation($viewValue)"
        typeahead-loading="loadingLocations"
        typeahead-no-results="noResults"
        typeahead-min-length="3"
        typeahead-on-select="onSelect($item)"
        placeholder="Add the worst movie you've seen!"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </form>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <button type="button" class="btn btn-danger btn-block" ng-click="techNotes = !techNotes">Tech Notes</button>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <a target="_self" href="../../resume/T-D-Kehoe.pdf" download="T-D-Kehoe.pdf">
        <button type="button" class="btn btn-danger btn-block">Résumé</button>
      </a>
    </div>

  </div>

  <!-- Tech Notes row -->
  <div class="row well well-lg" ng-show="techNotes">
    <p class="lead text-justify">AngularFire CRUD app with AngularJS, Firebase, Bootstrap, and async typeahead.</p>
    <p class="text-justify">This web app feels like a native app, i.e., the movies database feels like it's on your computer. In contrast, the <a ng-href="http://www.imdb.com">Internet Movies Database (IMDb)</a> feels like a website developed a long time ago in a galaxy far, far away...</p>
    <p class="text-justify">AngularJS binds data to Firebase, a NoSQL cloud database. There's no back end and no HTTP requests (except for the typeahead). Compared to a conventional MEAN stack web app with a Node/Express/MongoDB back-end, Firebase synchronizes the user's edits with the remote database without the user clicking a "Submit" button. When multiple users use the app at the same time, movies added by one user, or edits made by one user, appear instantly in the other users' apps.</p>
    <p class="text-justify">The "Add a Movie" data entry form uses the UI Bootstrap asynchronous typeahead. Each keystroke makes an HTTP request to the Open Movie Database, which returns ten movie titles. onSelect (clicking a movie title) fires an HTTP GET request for a single movie to the OMDB which returns the movie data. This movie is then pushed locally to the $scope.movies array. This updates the INDEX view almost instantly. Then, running in the background, an HTTP POST adds the movie to the CRUDiest Movies Firebase. Lastly, an HTTP GET request to the CRUDiest Movies Firebase gets all the movies and syncs to $scope. This is the slowest step but runs in the background while the user is doing other things.</p>
    <p class="text-justify">Users can order the movies by date added, rating, and year. The "Order By" buttons have ng-click set up with two values, <i>order</i> and <i>reverse</i>. These values are passed to the $scope and then to ng-repeat.  Adding a new movie resets the order back to date added so that the new movie always appears in the upper left position.</p>
    <p class="text-justify">The app is responsive. The number of movies displayed per row changes from five in the large view, to four in the medium view, three in the small view, and then two on mobile devices.</p>

    <p class="text-justify">The <a ng-href="https://github.com/tdkehoe/CRUDiest-Firebase">repository</a> is on GitHub. There's also a tutorial if you want to make your own <a ng-href="https://github.com/tdkehoe/Firebase-Tutorial/blob/master/Firebase.md">CRUDiest Movies Firebase</a>.</p>
  </div>

  <!-- orderBy labels row -->
  <div class="row visible-sm-block visible-md-block visible-lg-block">
    <div class="col-sm-4 text-center">
      <h4>Order by Date Added</h4>
    </div>
    <div class="col-sm-4 text-center">
      <h4>Order by Rating</h4>
    </div>
    <div class="col-sm-4 text-center">
      <h4>Order by Year</h4>
    </div>
  </div>

  <!-- orderBy buttons row, mobile screens -->
  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-block" ng-click="order = 'dateAdded'; reverse = true">Order By Recently Added</button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-block" ng-click="order = 'dateAdded'; reverse = false">Order By First Added</button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-warning btn-block" ng-click="order = 'imdbRating'; reverse = false">Order By Worst First</button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-warning btn-block" ng-click="order = 'imdbRating'; reverse = true">Order By Best First</button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-success btn-block" ng-click="order = 'year'; reverse = true">Order By Newest</button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-success btn-block" ng-click="order = 'year'; reverse = false">Order By Oldest</button>
    </div>
  </div>

  <!-- orderBy buttons row, small, medium, and large screens -->
  <div class="row visible-sm-block visible-md-block visible-lg-block">
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" ng-click="order = 'dateAdded'; reverse = true">Recent</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" ng-click="order = 'dateAdded'; reverse = false">First</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-warning btn-block" ng-click="order = 'imdbRating'; reverse = false">Worst</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-warning btn-block" ng-click="order = 'imdbRating'; reverse = true">Best</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success btn-block" ng-click="order = 'year'; reverse = true">Newest</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success btn-block" ng-click="order = 'year'; reverse = false">Oldest</button>
    </div>
  </div>

  <!-- Responsive views -->
  <div class="row visible-xs-block">
    <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
      <a ng-href="/#/movies/{{movie.$id}}"><img class="extraSmallposter" ng-src="{{movie.poster}}" alt="{{movie.title}}"></a>
    </div>
  </div>

  <div class="row visible-sm-block">
    <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
      <a ng-href="/#/movies/{{movie.$id}}"><img class="smallposter" ng-src="{{movie.poster}}" alt="{{movie.title}}"></a>
    </div>
  </div>

  <div class="row visible-md-block">
    <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
      <a ng-href="/#/movies/{{movie.$id}}"><img class="mediumposter" ng-src="{{movie.poster}}" alt="{{movie.title}}"></a>
    </div>
  </div>

  <div class="row visible-lg-block">
    <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
      <a ng-href="/#/movies/{{movie.$id}}"><img class="largeposter" ng-src="{{movie.poster}}" alt="{{movie.title}}"></a>
    </div>
  </div>

</div>
